<ion-view view-title="MY CART" >
  <ion-content>
      
    <ion-list class="cart_list">    
        <ion-item ng-repeat="item in cart" >
            <div class="row cart_content">
                <div class="col col-25 item_cart_img animated zoomIn" style="background:url({{item.bg}})no-repeat;background-size:cover"></div>
                <div class="col col-mid">
                    <h4 class="item_cart_title">CASUAL WEAR</h4> 
                    <p class="item_cart_price main-text-color">215 $</p>
                    <div class="row count">
                            <div class="col col-33">
                                <button class="button button-icon increase" ng-click="decrement(item.count,$index)">
                                    <i class="ion-minus"></i>
                                </button>
                            </div>
                            <div class="col col-33">
                                <label class="item-input count_no">
                                    <input type="text" value="{{item.count}}">
                                </label>
                            </div>
                            <div class="col col-33">
                                <button class="button button-icon increase" ng-click="increment(item.count,$index)">
                                    <i class="ion-plus"></i>
                                </button>
                            </div>
                        </div>
                </div>
                <div class="col col-20 delete-icon">
                    <button class="button button-icon" ng-click="removeItem($index)"><i class="ion-trash-a"></i></button>
                </div>
            </div>
        </ion-item>
    </ion-list> 
      
    <div class="total_price padding">
        <div class="row">
            <div class="col col-50">
                <p>TOTAL<span class="prices">480.00 $</span></p>
            </div>
            <div class="col col-50 apply">
                <h4>APPLY<span>COUPON</span></h4>
            </div>
        </div>
    </div>  
      
    <div class="cart_main_btn">
        <button class="button button-block main-bg-color main-btn">
            EMPTY CART
        </button>
        <button class="button button-block main-btn" ng-click="goto('/app/payment')">
            SAVE COMPLETE ORDER
        </button>
    </div>
  </ion-content>
</ion-view>
