<ion-view view-title="CATEGORIES">
    
    <div class="bar bar-subheader">
     <div class="row list_btn">
        <div class="col col-50" ng-click="opensortmodal()">
            <button class="sort-btn sorted-icon"><i class="ion-arrow-swap main-text-color sort-icon"></i>SORTED BY</button>
        </div>
        <div class="col col-50" ng-click="opensearchmodal()">
            <button class="sort-btn"><i class="ion-search main-text-color"></i>SEARCH</button>
        </div>
      </div>
    </div>
    
  <ion-content class="categories_content has-subheader">
      
    
      
    <div  collection-repeat="item in list_1"
    collection-item-width="50%"
    collection-item-height="220">
        
        <div class="list_content">
            <div class="list_img_bg" ng-click="goto('/app/details')">
                <div class="list_img animated flipInY" style="background:url({{item.img}});background-repeat: no-repeat;
                background-position: center center;
                background-size: contain"></div>
            </div>    
            <div class="list_details padding">
                <h4>{{item.title}}</h4>
                <p class="price main-text-color">{{item.price}}
                    <i ng-click="likeItem(item)" ng-if="!item.fav" class="ion-ios-heart-outline main2-text-color"></i>
                    <i ng-click="likeItem(item)" ng-if="item.fav" class="ion-ios-heart main2-text-color"></i>
                </p>  
            </div>

        </div>
    </div>
      
  </ion-content>
</ion-view>
