<ion-modal-view class="complete_modal">
    <ion-content class="complete_content" scroll="false">
        
        <div class="complete_head">
            <h4>CONGRATULATION</h4>
            <p>YOUR ORDER ON THE WAY</p>
        </div>
        <div class="complete_ok">
            <img src="img/finish.png" />
        </div>
        <div class="order_no">
            <h4>ORDER NO. <span>65484956</span></h4>
            <p>6 OCTOBER 2016</p>
        </div>
        
        
        <button class="button button-block main-btn" ng-click="goto('/app/hot_deals');closecompletemodal()">
            COMPLETE SHOPPING
        </button>
 
             
    </ion-content>
  </ion-modal-view>