<ion-view view-title="DETAILS">
  <ion-content class="details_content">
    <div class="det_head animated flip" ng-click="openPhotoSwipe(bigImg)" style="background:url({{bigImg}})no-repeat;
    background-size: cover"  ></div>
      <div class="more_img" ng-repeat="item in images" style="background:url({{item.bg}})no-repeat;background-size:cover"
           ng-click="showImg(item.bg)" ng-class="{'active_img animated flip':bigImg==item.bg}">
      </div>
      
    <div class="det_title padding">
        <h4 class="main-text-color">GUCCI TONIC</h4>
        <p>LEATHER SKIRT FREE</p>
        <div class="stars main-text-color">
            <span><i class="ion-android-star"></i></span>
            <span><i class="ion-android-star"></i></span>
            <span><i class="ion-android-star"></i></span>
            <span><i class="ion-android-star-half"></i></span>
            <span><i class="ion-android-star-outline"></i></span>
        </div>
    </div>
    <div class="det_options">
        <ion-list>    
            <ion-item>    
                <div class="row size_block">
                    <div class="col col-50">
                        <p class="main-text-color"><span class="old-price">520$</span> 400$</p>
                    </div>
                    <div class="col col-50 label-select">
                        <span>SIZE</span>
                            <label class="item item-input item-select">
                                <select>
                                    <option selected>M</option>
                                    <option>S</option>
                                    <option>L</option>
                                    <option>XL</option>
                                </select>
                            </label>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col col-50">
                        <p class="main-text-color">TONIC COLOR</p>
                    </div>
                    <div class="col col-50 color_op">
                        <span class="color color_1"></span>
                        <span class="color color_2"></span>
                        <span class="color color_3"></span>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row det_qty">
                    <div class="col col-50">
                        <p class="main-text-color">QTY</p>
                    </div>
                    <div class="col col-50">
                        <div class="row">
                            <div class="col col-25">
                                <button class="button button-icon increase" ng-click="decrement_val()">
                                    <i class="ion-minus"></i>
                                </button>
                            </div>
                            <div class="col col-50">
                                <label class="item item-input count_no">
                                    <input type="text" value="{{value}}">
                                </label>
                            </div>
                            <div class="col col-25">
                                <button class="button button-icon increase" ng-click="increment_val()">
                                    <i class="ion-plus" ></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item >
        </ion-list>
    </div>
    <div class="description padding">
                <h4 class="main-text-color">DESCRIPTION</h4>
                <p>This post is part of our daily series of posts showing the most inspiring images selected by some of the Antony Queen's writers and users. This post is part of our daily series of posts showing the most inspiring images selected by some of the Antony Queen's writers and users. </p>
    </div>
    <ion-list class="det_wish_list">    
        <ion-item class="item-icon-left" ng-click="activeselect(1)" ng-class="{'active_icon':active_icon1}">
            <i class="icon ion-heart"  ng-class="{'animated zoomIn':active_icon1}"></i>ADD TO WISH LIST
        </ion-item>
        <ion-item class="item-icon-left" ng-click="activeselect(2)" ng-class="{'active_icon':active_icon2}">
            <i class="icon ion-podium " ng-class="{'animated zoomIn':active_icon2}"></i>ADD TO COMPAIR
        </ion-item>
        <ion-item class="item-icon-left" ng-click="activeselect(3)" ng-class="{'active_icon':active_icon3}">
            <i class="icon ion-android-share-alt"  ng-class="{'animated zoomIn':active_icon3}"></i>SHARE
        </ion-item>
    </ion-list>    
  </ion-content>
<ion-footer-bar class="det_footer">
    <button class="button button-block main-btn" ng-click="goto('/app/cart')">
        ADD TO CART
    </button>
</ion-footer-bar>
</ion-view>
