<ion-view view-title="FILTER CATEGORIES" >
  <ion-content class="filter_content">
      
    <ion-list>
        <div ng-repeat="group in groups">
          <ion-item class="item-stable item-icon-right animated slideInUp"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
            &nbsp;
             {{group.name}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
              <input type="checkbox" name="check" id="r{{item.subId}}">
                <label for="r{{item.subId}}"> <span></span>{{item.subId}}
                </label>
            
          </ion-item>
        </div>
      </ion-list>
      
      
  </ion-content>

<ion-footer-bar class="det_footer">
    <button class="button button-block main-btn" ng-click="goto('/app/categories')">
           ACTIVATION
    </button>
</ion-footer-bar> 
</ion-view>
