<ion-view view-title="HOT DEALS" >
  <ion-content  scroll="false">
      
    <div class="home_content animated slideInUp">
        <div class="home-head" ng-click="goto('/app/categories')">
            <div class="img-title main1-bg-opacity-color">
                    <p>Shorts & Skirts</p>
                    <h4>2.300 $<i class="icon ion-heart"></i></h4>
            </div>
        </div>
        <div class="home-section" ng-click="goto('/app/categories')">
            <div class="sec-color main2-bg-opacity-color">
                <div class="title-price">
                    <p>Shorts & Skirts</p>
                    <h4>7.150 $<i class="icon ion-heart"></i></h4>
                </div>
            </div>
        </div>
        <div class="home-section home-section-bottom" ng-click="goto('/app/categories')">
            <div class="sec-color main1-bg-opacity-color">
                <div class="title-price">
                    <p>Shorts & Skirts</p>
                    <h4>300 $<i class="icon ion-heart"></i></h4>
                </div>
            </div>
        </div>
        <button class="button button-block main-btn" ng-click="goto('/app/categories')">
            SKIP
        </button>
    </div>
  </ion-content>
</ion-view>
