<ion-modal-view class="menu_modal animated fadeInLeft">
    <ion-header-bar  class="search_header">
       <div class="row search">
           <div class="col col-20">
             <button class="button button-clear button-icon">
                <i class="ion-search  main-text-color"></i>
             </button>
           </div> 
           <div class="col col-80">
           <label class="item item-input">
                <input type="text" placeholder="Search">
            </label>
           </div>        
        </div>
    </ion-header-bar>

    <ion-content class="menu_content">
        
         
        
        <ion-list class="menu-list">    
            <ion-item href="#/app/categories" ng-click="closemenumodal()">
                CATEGORIES
            </ion-item>
            <ion-item href="#/app/store" ng-click="closemenumodal()">
                COLLECTIONS AND STORES
            </ion-item>
            <ion-item href="#/app/filter_list" ng-click="closemenumodal()">
                FILTER CATEGORIES
            </ion-item >
            <ion-item href="#/app/wish_list" ng-click="closemenumodal()">
                WISHLIST
            </ion-item>
            <ion-item href="#/app/hot_deals" ng-click="closemenumodal()">
                HOT DEALS
            </ion-item>
            <ion-item href="#/app/profile" ng-click="closemenumodal()">
                PROFILE
            </ion-item>
          
            <ion-item href="#/login" ng-click="closemenumodal()">
                LOGOUT
            </ion-item>
        </ion-list>
 
             
    </ion-content>
  </ion-modal-view>