<ion-header-bar  class="register_head">
  <div class="buttons main-bg-color">
    <button class="button" ng-click="goto('/login')">
        <i class="icon ion-ios-arrow-thin-left"></i>
    </button>
  </div>
  <h1 class="title title-center">SIGNIN</h1>
</ion-header-bar>

  <ion-content class="signin_content register_content main_bg content_position">
      
    <div class="form-app animated slideInUp">
        <label class="item item-input">
            <input type="text" placeholder="User Name">
        </label>
        <label class="item item-input">
            <input type="password" placeholder="Password">
        </label>
        
        <h4 class="forget-pass" ng-click="forget_password()">
        FORGET PASSWORD ?? 
        </h4>
    </div> 
    
    <a href="#/welcome_page" class="button button-block main-btn">SIGN IN</a>
    
          
   
  </ion-content>

