<ion-modal-view class="sort_modal">
    
    <ion-header-bar class="modal_head">
        <div class="row sorted">
            <div class="col col-80">
                <p class="sort-head sort-btn sorted-icon">
                 <i class="ion-arrow-swap main-text-color sort-icon"></i>SORTED BY
             </p>
            </div>
            <div class="col col-20">
                <span class="close-icon" ng-click="closesortmodal()"><i class="icon ion-android-close main2-text-color"></i></span>
            </div>
        </div>
    </ion-header-bar>
    
    <ion-content class="sort_content">
                
        <ion-list class="sort-list">    
            <ion-item>    
                <input type="checkbox" name="check" id="r1">
                <label for="r1"> <span></span><P>POULARITY</P>
                </label>
            </ion-item>
            <ion-item>
                <input type="checkbox" name="check" id="r2">
                <label for="r2"> <span></span><P>NEW</P>
                </label>
            </ion-item>
            <ion-item>
                <input type="checkbox" name="check" id="r3">
                <label for="r3"> <span></span><p>DISCOUNT</p>
                </label>
            </ion-item >
            <ion-item>
                <input type="checkbox" name="check" id="r4">
                <label for="r4"> <span></span><p>LAW PRICE</p>
                </label>
            </ion-item>
            <ion-item>
                <input type="checkbox" name="check" id="r5">
                <label for="r5"> <span></span><p>HIGH PRICE</p>
                </label>
            </ion-item>
            <ion-item>
                <input type="checkbox" name="check" id="r6">
                <label for="r6"> <span></span><p>MOST PAIED</p>
                </label>
            </ion-item>
        </ion-list>
             
    </ion-content>
    
    <ion-footer-bar class="footer modal_footer">
        <button class="button button-block main-btn" ng-click="closesortmodal()">
        OK
        </button>
    </ion-footer-bar>
  </ion-modal-view>