  <ion-content class="welcome_content main_bg" scroll="false">
      
    <ion-slide-box Auto-play="true" does-continue="true">
        <ion-slide>
          <img src="img/slide1.png" />
        </ion-slide>
        <ion-slide>
          <img src="img/slide2.png" />
        </ion-slide>
        <ion-slide>
           <img src="img/slide3.png" />
        </ion-slide>
        <ion-slide>
           <img src="img/slide4.png" />
        </ion-slide>
        <ion-slide>
            <img src="img/slide5.png" />
        </ion-slide>
              
    </ion-slide-box>
      
<div class="welcome-text">
    
    <h4>WELCOME TO<span class="main-text-color"> COCO </span>WOMEN CLUB</h4>
    <p>Just relax and ler’s start shopping  and filling in your bag</p>    
    
</div>         
 <a href="#/app/hot_deals" class="button button-block main-btn">SHOP NOW</a>     
  </ion-content>
