<ion-view view-title="WISH LIST" >
  <ion-content class="wish_content">
      
<!--
    <ion-list class="cart_list">    
        <ion-item ng-repeat="item in wish">
            <div class="row cart_content">
                <div class="col col-25 item_cart_img" style="background:url({{item.bg}})no-repeat"></div>
                <div class="col col-mid">
                    <h4 class="item_cart_title">CASUAL WEAR</h4> 
                    <p class="item_cart_price main-text-color">215 $</p>
                </div>
                <div class="col col-20 delete-icon">
                    <button class="button button-icon" ng-click="removeItemWish($index)"><i class="ion-trash-a"></i></button>
                </div>
            </div>
        </ion-item>
    </ion-list> 
-->
      
      
    <div collection-repeat="item in wish"
    collection-item-width="100%"
    collection-item-height="90"  class="cart_list">
        
          <div class="row cart_content">
                <div class="col col-25 item_cart_img" style="background:url({{item.bg}})no-repeat"></div>
                <div class="col col-mid">
                    <h4 class="item_cart_title">CASUAL WEAR</h4> 
                    <p class="item_cart_price main-text-color">215 $</p>
                </div>
                <div class="col col-20 delete-icon">
                    <button class="button button-icon" ng-click="removeItemWish($index)"><i class="ion-trash-a"></i></button>
                </div>
            </div>
      </div>
      
    
  </ion-content>
</ion-view>
